[alias]
  # Show verbose output about tags, branches or remotes
  tags = tag -l
  branches = branch -a
  remotes = remote -v
  # Pretty log output
  hist = log --graph --pretty=format:'%Cred%h%Creset %s%C(yellow)%d%Creset %Cgreen(%cr)%Creset [%an]' --abbrev-commit --date=relative
  co = checkout
  cob = checkout -b
  cfg = config --global -e
  save = stash
  load = !git stash pop --index $@
  saves = stash list
  cm = commit -m
  amend = commit --amend
  po = !git push -u origin $(git describe --contains --all HEAD)
[color]
  # Use colors in Git commands that are capable of colored output when outputting to the terminal
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan

# Use `origin` as the default remote on the `master` branch in all cases
[branch "master"]
  remote = origin
  merge = refs/heads/master

[user]
	name = JeffSolo
  useConfigOnly = true
	email = jeffreycsolomon@gmail.com
[merge]
	tool = opendiff
[core]
	autolf = input
	eol = lf
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
