# Compile Typescript and run
function tscr(){
    js=""
    test=""
    ignore=false
    while (( $# )); do
        case "$1" in
            -i|--ignore) ignore=true;;
            -t|--test) test="&& npm test";;
            *) js="&& node ${1:r}.js" ;;
        esac
        shift
    done

    run="tsc $test $js"
    if $ignore; then
        eval ${run//&&/;}
    else eval $run
    fi
}

# django manage
function djm(){
    python manage.py "$@"
}

#django admin
function dja(){
    django-admin "$@"
}

# activate conda environment
function cenv(){
    conda activate "$@"
}

# deactivate conda environment
function deactivate(){
    conda deactivate
}

# list contents after CD
function cd(){
    builtin cd "$@" && ls -C
}

# show last N lines of history
function h(){
    history | tail -$1
}
